{% extends "base.html" %}

{% block title %}{% endblock %}


{% block header %}{% endblock %}

{% block content %}

<div class="chart">
{% for loc in locations %}
  <div style="width: {% widthratio loc.ticket__count 60590 6000 %}px;" ><a href="{{ loc.get_absolute_url }}">{{ loc.location }}</a>: {{ loc.ticket__count }}</div>
{% endfor %}</div>

			<h4><a id="commutercity" name="commutercity"></a> <strong>Student Commuter Permits</strong> <span style="font-size: .7em;">(For Students Who Primarily Attend Classes On City Campus)</span></h4>
<div style="padding-left: 20px;">
<table>
<thead>
<tr><th style="text-align: left;" colspan="2">Permit Type</th><th class="head smallertext" width="62">Your City Campus Lot(s)</th><th class="head smallertext" width="62">When You Visit East Campus</th><th width="195">Locations</th><th width="135"><span class="whitelink">Time Restrictions<a href="#time">*</a></span><br /> Monday - Friday</th></tr>
</thead>
<tbody>
<tr>
<td><strong>C</strong></td>
<td>(Non Reserved)</td>
<td bgcolor="#339933">
<div class="style1" align="center">C</div>
</td>
<td bgcolor="#339933">
<div class="style1" align="center">C</div>
</td>
<td>City and East Campus</td>
<td>7:30 am - 3:00 pm</td>
</tr>
<tr class="even">
<td><strong>C1</strong></td>
<td>(Reserved)</td>
<td bgcolor="#ffff33">
<div align="center">C1</div>
</td>
<td bgcolor="#339933">
<div class="style1" align="center">C</div>
</td>
<td>14th &amp; Vine - Memorial Mall</td>
<td>7:30 am - 4:00 pm</td>
</tr>
<tr>
<td><strong>C2</strong></td>
<td>(Reserved)</td>
<td bgcolor="#ffff33">
<div align="center">C2</div>
</td>
<td bgcolor="#339933">
<div class="style1" align="center">C</div>
</td>
<td>Stadium Drive &amp; T - <a href="http://maps.unl.edu/SHOR">SHOR</a></td>
<td>7:30 am - 4:00 pm</td>
</tr>
<tr class="even">
<td><strong>14C</strong></td>
<td>(Garage)</td>
<td bgcolor="#c7a317">
<div align="center">14</div>
</td>
<td bgcolor="#339933">
<div class="style1" align="center">C</div>
</td>
<td>14th &amp; Avery - <a href="http://maps.unl.edu/14PG">14PG</a></td>
<td>12:00 am - 4:00 pm</td>
</tr>
<tr>
<td><strong>17C</strong></td>
<td>(Garage)</td>
<td bgcolor="#c7a317">
<div align="center">17</div>
</td>
<td bgcolor="#339933">
<div class="style1" align="center">C</div>
</td>
<td>17th &amp; R - <a href="http://maps.unl.edu/17PG">17PG</a></td>
<td>12:00 am - 4:00 pm</td>
</tr>
<tr class="even">
<td><strong>19C</strong></td>
<td>(Garage)</td>
<td bgcolor="#c7a317">
<div align="center">19</div>
</td>
<td bgcolor="#339933">
<div class="style1" align="center">C</div>
</td>
<td>19th &amp; Vine - <a href="http://maps.unl.edu/19PG">19PG</a></td>
<td>12:00 am - 4:00 pm</td>
</tr>
<tr>
<td><strong>SGC</strong></td>
<td>(Garage)</td>
<td bgcolor="#c7a317">
<div align="center">SG</div>
</td>
<td bgcolor="#339933">
<div class="style1" align="center">C</div>
</td>
<td>Stadium Drive Garage - <a href="http://maps.unl.edu/SDPG">SDPG</a></td>
<td>6:00 am - 12:00 am</td>
</tr>
<tr class="even">
<td><strong>P</strong></td>
<td>(Perimeter)</td>
<td bgcolor="#990033">
<div class="style1" align="center">P</div>
</td>
<td bgcolor="#990033">
<div class="style1" align="center">P</div>
</td>
<td>City &amp; East Campuses</td>
<td>No Restrictions</td>
</tr>
</tbody>
</table>
</div>

{% endblock %}
