{% extends "base.html" %}

{% block title %}All tickets at {{ loc }}{% endblock %}


{% block header %}All tickets at {{ loc }}{% endblock %}

{% block content %}

<div class="chart">
{% for month in months %}
  <div style="width: {% widthratio month.date__count total 6000 %}px;" >{{ month.month }}: {{ month.date__count }}</div>
{% endfor %}</div>







{% regroup tickets by date|date:"N Y" as month_list %}

<ul>
{% for thing in month_list %}
    <li><strong>{{ thing.grouper }}</strong><br />
    <ul>
        {% for item in thing.list %}
          <li style="padding-left:10px;">{{ item.date|date:"l" }} {{ item.date|date:"DATETIME_FORMAT" }}: {{ item.location.name }} for {{ item.reason }}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}
