{% extends "base.html" %}

{% block title %}All tickets at {{ loc }}{% endblock %}


{% block header %}<h1>All tickets at {{ loc }}</h1>{% endblock %}

{% block viz %}<p> Data for tickets given by month.</p>
<div class="chart">
{% for month in months %}
  <div style="width: {% widthratio month.date__count total 6000 %}px;" >{{ month.month|date:"N Y" }}: {{ month.date__count }}
</div>
{% endfor %}</div>
{% endblock %}

{% block content %}

<h3>Here are the tickets written at {{ loc }} for the last two years</h3>

{% regroup tickets by date|date:"N Y" as month_list %}

<ul>
{% for thing in month_list %}
    <li><strong>{{ thing.grouper }}</strong><br />
    <ul>
        {% for item in thing.list %}
          <li style="padding-left:10px;">{{ item.date|date:"l" }} {{ item.date|date:"DATETIME_FORMAT" }}: {{ item.location.name }} for {{ item.reason }}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}
